In [1]:
import pandas as pd

In [2]:
df =pd.read_csv("C:\\Users\\micro\\Downloads\\Compressed\\archive_2\\tmdb_5000_movies.csv",encoding  = 'utf-8')

In [3]:
df.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [6]:
#no dunplictes is exsit

In [7]:
df.duplicated().sum()

np.int64(0)

In [12]:
#check for null

In [13]:
df.isnull().sum()

budget                  0
genres                  0
homepage                0
id                      0
keywords                0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
status                  0
tagline                 0
title                   0
vote_average            0
vote_count              0
dtype: int64

In [14]:
# drop nulls

In [15]:
df.dropna(inplace = True)

In [16]:
df.isnull().sum()

budget                  0
genres                  0
homepage                0
id                      0
keywords                0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
status                  0
tagline                 0
title                   0
vote_average            0
vote_count              0
dtype: int64

In [38]:
# to convert text into number

In [39]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [40]:
Tfidf = TfidfVectorizer(stop_words ='english')

In [41]:
Tfidf_matrix = Tfidf.fit_transform(df['keywords'])

In [42]:
Tfidf_matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 33642 stored elements and shape (1493, 9878)>

In [43]:
#used for check similarity betwwen movies

In [44]:
from sklearn.metrics.pairwise import cosine_similarity

In [45]:
c_s =cosine_similarity(Tfidf_matrix, Tfidf_matrix)

In [46]:
#create function that give us movies that belong to our intreset

In [47]:
def recommend(title):
    idx = df[df['title'] == title].index[0]
    sim_scores = list(enumerate(c_s[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:6]  # Skip the first (it's the same movie)
    movie_indices = [i[0] for i in sim_scores]
    return df['title'].iloc[movie_indices]

In [48]:
#check for result

In [49]:
recommend('Inception')

385                          Happy Feet
2439                               Roar
921                     We Bought a Zoo
225                         Speed Racer
183     The Hunger Games: Catching Fire
Name: title, dtype: object

In [50]:
recommend('The Matrix'),
recommend('Titanic')

2                               Spectre
11                    Quantum of Solace
3251    On Her Majesty's Secret Service
2675               The Spy Who Loved Me
3143                You Only Live Twice
Name: title, dtype: object